@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box;}

/* Colors */
:root {
    --primary: #0e0e20;
    --dark: #0a0a1a;
    --footer: #06060f;
    --secondary: #6a6cb1;
    --white: #fff;
    --text: #818181;
}
body {
    font-family: 'Roboto', sans-serif;
}


.home-section {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
/* Navbar */
.home-section .navbar {
    font-family: 'Inconsolata', sans-serif;
}
.navbar-toggler {
    color: transparent !important;
    border: none !important;
    outline: none !important;
    background: var(--secondary);
}
/* Logo */
.home-section .navbar-brand {
    font-size: 1.9rem;
    font-weight: 600;
}
/* Links */
.home-section .navbar a {
    color: var(--white);
}
.home-section .navbar-brand span { 
    color: var(--secondary);
    font-weight: 900;
}
.home-section .navbar .nav {
    margin-left: 23% !important;
}
.home-section .navbar .nav a {
    font-size: 1.1rem;
}
.home-section .navbar .nav a:hover,
.home-section .navbar .nav a.active {
    text-decoration: underline;
    color: var(--secondary);
}
/* Sign up button */
.home-section .navbar .sign-up-btn {
    border: 1px solid var(--secondary);
    padding: 10px 25px;
    text-decoration: none;
    font-weight: 600;
    transition: ease .2s;
    font-size: 1rem;
}
.home-section .navbar .sign-up-btn:hover {
    color: var(--secondary);
}

/* Hero */
.home-section .hero {
    margin: 10% 0;
}
.home-section .hero h1 {
    color: var(--white);
    font-size: 3.4rem;
    font-weight: 600;
}
.home-section .hero h1 span {
    color: var(--secondary);
}
.home-section .hero p {
    color: var(--text);
    width: 60%; 
    text-align: justify;
}
.home-section .hero .buttons {
    margin: 20px 0;
}
.home-section .hero .buttons .h-btn {
    padding: 13px 35px;
    border: 1px solid var(--secondary);
    text-decoration: none;
    color: var(--white);
    transition: ease .2s;
    font-size: 1.03rem;
    font-weight: 500;
}
.home-section .hero .buttons .h-btn:nth-child(1):hover {
    box-shadow: -3px 3px 17px 1px var(--secondary);
}
.home-section .hero .buttons .h-btn:nth-child(2):hover {
    box-shadow: 3px -3px 17px 1px var(--secondary);
}



/* Learn section */
.learn-section {
    background: var(--primary);
}
.learn-section .row h2 {
    color: var(--white);
    font-size: 2.7rem;
    font-weight: 500;
}
.learn-section .row p {
    color: var(--text);
    width: 80%;
    text-align: justify;
}
.learn-section .row .more-btn,
.technology-section .row .more-btn {
    padding: 12px 25px;
    background: var(--secondary);
    color: var(--white);
    text-decoration: none;
    transition: ease .2s;
}
.learn-section .row .more-btn:hover,
.technology-section .row .more-btn:hover {
    box-shadow: 0 0 12px 1px var(--secondary);
}

/* Technology */ 
.technology-section {
    background: var(--dark);
}
.technology-section .cards img {
    height: 240px;
    width: 240px;
    margin: 0 auto;
}
.technology-section .card {
    background: var(--primary);
}
.technology-section .card-title {
    color: var(--white);
}
.technology-section .card-text {
    color: var(--text);
}
.technology-section .row .card:hover img, 
.technology-section .mining-row:hover .col-md-4 {
    animation: cardimg 2s infinite;
}
@keyframes cardimg {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
}
  
.technology-section .mining-row {
    background: var(--primary);
    border-radius: 0.25rem;
}
.technology-section .mining-row p {
    color: var(--text);
    text-align: justify;
}


/* Team section */
.team-section {
    background: var(--primary);
}
.team-section .card {
    background: var(--dark);
}
.team-section .card img {
    width: 210px;
    height: 200px;
    object-fit: cover;
}
.team-section .card-subtitle {
    color: var(--secondary);
}
.team-section .card-text {
    color: var(--text);
}
.team-section .card-link i {
    color: var(--white);
    transition: .2s ease;
}
.team-section .card-link i:hover {
    transform: translateY(-3px);
}


/* Staking section */
.staking-section {
    background: var(--dark);
}
.staking-section h1 span {
    color: var(--secondary);
}
.staking-section p,
.staking-section ul li {
    color: var(--text);
}

/* Footer */
footer {
    background: var(--footer);
    color: var(--text);
}
footer a:hover,
footer .logo {
    color: var(--secondary) !important;
}


/* Responsivness */
@media screen and (max-width: 768px) {
    /* Nav */
    .nav {
        justify-content: flex-end !important;
        text-align: right;
        background: var(--white);
        padding: 15px;
        width: 600px !important;
    }
    .nav a {
        color: var(--dark) !important;
    }
    /* Home section */
    .home-section {
        height: max-content;
    }
    .hero .container h1 {
        font-size: 1.8rem;
        text-align: center;
    }
    .hero .container p {
        text-align: justify;
        width: 100%;
    }
    .hero .container .buttons {
        justify-content: center;
    }
    .hero .container .buttons .h-btn {
        padding: 10px 25px;
    }

    /* Learn section */
    .learn-section .h2 {
        font-size: 1.6rem !important;
    }
    .learn-section .row {
        margin: 50px 0 !important;
    }
    .learn-section .row p {
        width: 100%;
    }
    .learn-section .row:nth-child(2) {
        display: flex;
        flex-direction: column-reverse;
    }

    /* Technology section */
    .technology-section .mining-row {
        display: flex;
        flex-direction: column-reverse;
        padding: 30px 25px !important;
    }
    .technology-section .mining-row img {
        height: 240px;
        width: 240px;
        margin: 0 auto !important;
        display: block;
        text-align: center;
    }
}